<div>
    <h1>Add New Person</h1>
    <form [formGroup]="personForm" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" maxlength="20">
        </div>
        <div class="form-group">
            <label>Hobby</label>
            <input type="text" formControlName="hobby" class="form-control">
        </div>
        <div class="form-group">
            <label>Age</label>
            <input type="number" formControlName="age" class="form-control">
        </div>
        <button type="submit">Submit </button>
    </form>
</div>